<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style> 
        table, th, td { 
            border: 1px solid black; 
            border-collapse: collapse; 
        } 
        th, td { 
            padding: 20px; 
        } 
        th { 
            text-align: left; 
        } 
    </style> 
</head>

<body>
    <h1>
        <%= name %>
    </h1>
    <h2>This is the result after our prediction, hope this can help you ~~</h2>
    <table style="width:100%">
        <tr>
            <th>GRE</th>
            <th>TOEFL</th>
            <th>CGPA</th>
            <th>RESEARCH</th>
        </tr>
        <tr>
            <td><%= GRE %></td>
            <td><%= TOEFL %></td>
            <td><%= CGPA %></td>
            <td><%= RESEARCH %></td>
        </tr>
    </table>
    <h2> Chance of Admit : </h2>

    <form method="get" action="/home">
      <input type="submit" value="submit again">
    </form>
    <form method="get" action="/">
      <input type="submit" value="logout">
    </form>
</body>

</html>